

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) sepia(100%) saturate(1000%) hue-rotate(0deg);
}


.carousel-inner img {
  border: 5px solid lightcoral;   /* custom color */
  border-radius: 20px;         /* curved corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* optional shadow */
}
 ul li a {
    color: white; /* Change to your desired color */

}
ul li a:hover {
    color: lightcoral; /* Change to your desired hover color */
}   


    .containerform {
      max-width: 500px;
      margin-left: 400px;
      margin-right: 400px;
      padding: 20px;
      background: lightblue;
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      border-color: brown;
    }
    #successMessage {
      display: none;
    }
    
    .card {
      border-radius: 15px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s ease;
    }
    .card:hover {
      transform: scale(1.03);
    }